/* Fonts */

@font-face{
  font-family: "Gilory Light";
  src: url(../font/Gilroy-Light.otf);
}
@font-face{
  font-family: "Gilory Bold";
  src: url(../font/Gilroy-ExtraBold.otf);
}



/* General Styles */

body{
  font-family: "Gilory Light"!important;
  font-size: 20px !important;
  color: #181441 !important;
}
img{
  object-fit: contain;
  max-width: 100%;
}
h1,h2,h6{
  font-family: "Gilory Bold";
}
.special-h2{
  font-family: "Gilory Light"!important;
}
.display-flex{
  display: flex;
}
.desktop-none{
  display: none;
}
.mobile{
  display: block;
}
nav,header,main,.merchant,.store{
  padding: 15px 7%;
}


/* Navigation Bar */

#logo{
  width: 165px;
}

/* Landing Text and Image (Header) */
header{
  background-color: #f9fdfe;
}
header h1{
  font-size: 3rem;
}
button{
  background-color: #8D53EB !important;
  border: 0;
  border-radius: 0.25rem !important;
}
input{
  border: none;
  outline: none;
  border-radius: 4px;
}
.input:focus{
  box-shadow: 0 0 13px 9px #c3c3c31f;
}

/* Main */
.categories div{
  width: 1000px;
  height: 170px;
  margin: 10px 15px;
  text-align: center;
  border-radius: 8px;
  background-color: #FBFBFB;
}
.categories p{
  margin: 0;
}
.w-40{
  width: 40%;
}
.w-80{
  width: 86%;
}

.location-div{
  padding: 3rem 7% 0;
  background-color: #f9fdfe;
}


/* Eclipse Section */
.eclipse{
  z-index: -1;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.eclipse-1{
  top: 50%;
  left: 52%;
}
.eclipse-2{
  top: 17%;
  left: 78%;
}
.eclipse-3{
  bottom: -21%;
  left: 25%;
}

/* Desire it Shop it  */
.shop-it{
  background-color: #FEB11C;
}
/* Store  */
.store .row div{
  background-color: #FBFBFB;
  width: 150%;
}
/* Footer */
footer{
  background-color: #181441;
}


/* Media Queries*/

@media (max-width: 700px){
  .display-flex,.desktop-none{
    display: block;
  }
  .mobile,.categories div{
    display: none;
  }
  .w-40{
    width: 100%;
    padding: 0;
  }
  div.w-50{
    width: 90% !important;
  }


  body{
    font-size: small !important;
  }
  /* Header Section */
  header .pt-5{
    padding-top: 0 !important;
  }
  header h1{
    font-size: 2.5rem;
  }
  .categories{
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  /* .categories div{
    width: auto;
    height: auto;
    padding: 1rem !important;
    margin: 5px;
    text-align: center;
    background-color: white;
  } */
}




